<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Travel</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-static-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Static navbar -->
<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Travel</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contacts">Contact Us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/signin">Sign In</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="page-header">
        <h1 id="type">Welcome to <strong>Travel</strong>.</h1>
    </div>
    <h2>Hi, user, we glad to see you!</h2>

    <p>With us you can show to another peoples places where you was and photos which you made!</p>

    <div class="row">
        <div class="col-sm-6 col-md-3">
            <a class="thumbnail">
                <img src="img/thumb_1.png" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a class="thumbnail">
                <img src="img/thumb_2.png" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a class="thumbnail">
                <img src="img/thumb_3.png" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a class="thumbnail">
                <img src="img/thumb_4.png" alt="">
            </a>
        </div>
    </div>

    <blockquote>
        <p>“The journey of a thousand miles begins with a single step.” </p>
        <small><cite title="Source Title">Lao Tzu</cite></small>
    </blockquote>
    <blockquote class="pull-right">
        <p>“The world is a book and those who do not travel read only one page.” </p>
        <small><cite title="Source Title">Augustine of Hippo</cite></small>
    </blockquote>
    <a href="/signin" class="btn btn-primary btn-lg">Sign In with Google+</a>
    <hr>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>Travel, 2014.</strong> Made by <a href="">Alex Saskevich</a> and <a href="">Danik
                    Tsyrkunov</a>.</p>
            </div>
        </div>

    </footer>
</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
