<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="navbar-static-top.css" rel="stylesheet">
    <title>{{ .first_name}} {{.last_name}} - User Profile</title>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- Static navbar -->
<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../">Travel</a>
        <a class="navbar-brand" href="/user/{{ .auth_id }}"><img src="{{ .auth_avatar }}" height="150%"
                                                                 style="margin-top:-5px;"/>
            {{ .auth_first_name }} {{ .auth_last_name }}</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/feed">Feed</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

            {{if .auth_user}}
            <li><a href="/edit">Edit</a></li>
            {{end}}
            <li><a href="/logout">Log Out!</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="../search" method="get">
            <input type="text" class="form-control col-lg-8" placeholder="Search User" name="q">
        </form>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1 style="text-align:center;">Profile</h1>

            <div class="well well-sm">
                <img src="{{ .avatar }}" width="100%" style="margin-top:-5px;"/>
            </div>
            <div class="well well-sm">
                {{.first_name}} {{.last_name}}
            </div>
            {{if .email}}
            <div class="well well-sm">
                {{.email}}
            </div>
            {{end}}
            {{if .birthday}}
            <div class="well well-sm">
                {{.birthday}}
            </div>
            {{end}}
            {{if .country}}
            <div class="well well-sm">
                {{.country}}
            </div>
            {{end}}
        </div>

        <div class="col-md-9">
            <legend>{{.first_name}}'s map</legend>
            <div class="form-group">
                <div class="alert alert-dismissable alert-info" style="display:none;" id="tooltip">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Hey You! Do you know how to use Travel?</strong> Zoom and move map center to necessary
                    place.
                    Click on free space to create album. Click on marker to edit and watch existing album.
                </div>
                <div id="googleMap" style="width:100%;height:520px;"></div>
            </div>
        </div>
    </div>

    {{if .auth_user }}
    <form class="form-horizontal" method="post" action="/save_post">
        <fieldset>
            <div class="form-group">
                <div class="col-lg-12">
                    <h2 style="text-align:center;">New Post</h2>
                    <input class="form-control" id="title" type="text" value="Title...">
                    <br>
                    <textarea class="form-control" style="resize:none; height: 150px;" rows="3" id="text_post" name="text_post" ></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12 pager">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button class="btn btn-default">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
    {{end}}



    <h1 style="text-align:center;">News</h1>
    {{range $element := .posts }}
    <blockquote>
        <p><strong>{{ $element.Title }}</strong></p>

        <p>{{$element.Text}}</p>

        <h4 class="pull-right" id="count_like-{{ $element.Id }}" style="margin-left: 10px;margin-top: 5px;">{{$element.Like}}</h4>
        <button class="btn btn-primary btn-sm pull-right" id="like" onclick='add_like({{ $element.Id }})'>Like</button>
    </blockquote>

    {{end}}

    <hr>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>Travel, 2014.</strong> Made by <a href="">Alex Saskevich</a> and <a href="">Danik
                    Tsyrkunov</a>.</p>
            </div>
        </div>

    </footer>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script>
    var map = {};

    function initialize() {
        var mapProp = {
            center: new google.maps.LatLng(51.508742, -0.120850),
            zoom: 5,
            mapTypeId: google.maps.MapTypeId.TERRAIN
        };
        map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        loadMarkers(map)
    }

    function loadMarkers(map) {
        var array = [];
        $.ajax({
            type: "GET",
            url: "../markers",
            data: "id={{ .id }}",
            success: function (msg) {
                array = JSON.parse(msg)
                console.table(array)

                for (var i = 0; i < array.length; i++) {
                    var el = array[i]
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(parseFloat(el.Latitude), parseFloat(el.Longitude)),
                        map: map,
                        title: el.Name,
                        id: el.Id
                    })

                    google.maps.event.addListener(marker, 'click', function () {
                        window.location.href = '/album/' + el.Id;
                    });
                }
            }
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);


    var post = function () {
        $.ajax({
            type: "POST",
            url: "save_post",
            data: getParams("text_post")+getParams("title") ,
            success: function (msg) {
                var rdr = JSON.parse(msg)
                console.table(rdr)
                if (rdr.error == 0) {
                    var form = document.getElementById("tooltip")
                    form.style.display = ""
                    setInterval(function () {
                        form.style.display = "none"
                    }, 5000)
                }
            }
        });
    }

    var getParams = function (id) {
        return $('#' + id).attr('name') + "=" + $('#' + id).val() + "&"
    }

    var add_like = function (id) {
        $.ajax({
            type: "POST",
            url: "../add_like",
            data: getParams("count_like") + "&id=" + id,
            success: function (msg) {
                console.table(msg)
                    var obj = JSON.parse(msg);
                    var d = document.getElementById("count_like-" + id);
                    d.innerHTML = obj.counter;
            }
        });
    }
</script>
<script src="../js/app/tooltip.js"></script>
</body>
</html>