<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Album: {{.info_album.Name}}</title>

    <!-- Bootstrap core CSS-->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-static-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Static navbar -->
<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">yo-journey</a>
        <a class="navbar-brand" href="/user/{{ .user.Id }}"><img src="{{ .user.Avatar }}" height="150%"
                                                                 style="margin-top:-5px;"/>
            {{ .user.FirstName }} {{ .user.LastName}}</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/friends">Friends</a></li>
            <li><a href="/feed">Feed</a></li>
            <li><a href="/advice/country">Advices</a></li>
            <li class="active"><a href="/album_list">Albums</a></li>
            <li><a href="/mini_blog_list">Stories</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{ if .auth_user }}
            <li><a href="/album/{{ .id }}/settings">Edit</a></li>
            {{end}}
            <li><a href="/logout">Log Out!</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="../search" method="get">
            <input type="text" class="form-control col-lg-8" placeholder="Search User" name="q">
        </form>
    </div>

</div>

<div class="container">

    <!--#M albums-->
    <div class="row">
        <div class="col-lg-12">
            <h1 style="text-align:center;">{{.info_album.Name}}</h1>
        </div>
    </div>

    <hr>

    {{ if .auth_user }}
    <div class="row">
        {{range $element := .photos }}
        <div class="col-sm-6 col-md-3" >
            <a class="thumbnail" >

                <button type="button" class="close" title="{{ $element.Name }}" data-dismiss="alert"
                        onclick="remove_photo({{ $element.Name }}, {{$element.AlbumId}})">×
                </button>
                <img src="{{$element.Name}}" alt="">
            </a>
        </div>
        {{end}}
    </div>
    {{else}}
    <div class="row">
        {{range $element := .photos }}
        <div class="col-sm-6 col-md-3" >
            <a class="thumbnail" >
                <img src="{{$element.Name}}" alt="" width="130px">
            </a>
        </div>
        {{end}}
    </div>
    {{end}}


    {{if .owner}}
    <form action="/load_photo_album" method="post" enctype="multipart/form-data">
        <label for="file">Filename:</label>
        <input type="file" name="file" id="file">
        <input type="hidden" value="{{ .id }}" name="id"/>
        <input type="submit" name="submit" value="Submit">
    </form>
    {{end}}

    <div class="row">
        <hr>
        <footer>
            <div class="col-lg-8">
                <p><strong>Travel, 2014.</strong> Made by <a href="">Alex Saskevich</a> and <a href="">Danik
                    Tsyrkunov</a>.</p>
            </div>
        </footer>
    </div>
</div>
<!-- /container -->




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>

<script>
    var remove_photo = function (name_photo, album_id) {
        console.log(name_photo);
        $.ajax({
            type: "POST",
            url: "../../remove_photo",
            data: "name_photo=" + name_photo,
            success: function (msg) {
                window.location.href = "/album/"+album_id;
            }
        });
    }
</script>
