<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../css/navbar-static-top.css" rel="stylesheet">
    <link href="../css/map.css" rel="stylesheet">
    <title>Storys</title>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- Static navbar -->
<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../">yo-journey</a>
        <a class="navbar-brand" href="/user/{{ .user.Id }}"><img src="{{ .user.Avatar }}" height="150%"
                                                                 style="margin-top:-5px;"/>
            {{ .user.FirstName }} {{ .user.LastName}}</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>

            <li><a href="/friends">Friends</a></li>
            <li><a href="/feed">Feed</a></li>
            <li><a href="/advice/country">Advices</a></li>
            <li><a href="/album_list">Albums</a></li>
            <li class="active"><a href="#">Stories</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Log Out!</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="../search" method="get">
            <input type="text" class="form-control col-lg-8" placeholder="Search User" name="q">
        </form>
    </div>

</div>


<div class="container">

    <div class="row">
        {{ if .auth_user }}
        <div id="show_form">
            <a class="btn btn-default" onclick="add_miniblog()">New Story</a>
        </div>
        {{end}}
        <div class="col-lg-12">

            <h1 style="text-align:center;">Travel stories</h1>
            <hr>

            {{range $element := .blogs }}<!--взять в цикл -->
            <blockquote>
                <a href="mini_blog/{{$element.Id}}"> <p><h3><strong>{{ $element.Name }}</strong></h3></p> </a>
                <hr>
                <h5>{{$element.Date}}</h5>
            </blockquote>
            <br>
            {{end}}
        </div>
    </div>

    <div class="row">
        <hr>
        <footer>
            <div class="col-lg-8">
                <p><strong>yo-journey, 2014.</strong> Made by <a href="">Alex Saskevich</a> and <a href="">Danik
                    Tsyrkunov</a>.</p>
            </div>
        </footer>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>


</body>
</html>

<script src="../js/app/tooltip.js"></script>

<script>
    var add_miniblog = function () {
        $.ajax({
            type: "POST",
            url: "../blog_create",
            success: function (msg) {
                rnd = JSON.parse(msg);
                window.location.href = "/mini_blog/"+ rnd.id_blog;
            }
        });
    }
</script>