<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Albums</title>

    <!-- Bootstrap core CSS-->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-static-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Static navbar -->
<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../">yo-journey</a>
        <a class="navbar-brand" href="/user/{{ .user.Id }}"><img src="{{ .user.Avatar }}" height="150%"
                                                                 style="margin-top:-5px;"/>
            {{ .user.FirstName }} {{ .user.LastName}}</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/friends">Friends</a></li>
            <li><a href="/feed">Feed</a></li>
            <li><a href="/advice/country">Advices</a></li>
            <li class="active"><a href="#">Albums</a></li>
            <li><a href="/mini_blog_list/{{ .user.Id }}">Stories</a></li>
            <li><a href="/routes">Routes</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Log Out!</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="../search" method="get">
            <input type="text" class="form-control col-lg-8" placeholder="Search User" name="q">
        </form>
    </div>

</div>


<div class="container">

    <!--#M albums-->
    <h1 style="text-align:center;">{{ .user.FirstName }}'s albums</h1>
    <hr>

    <div class="row">
        {{range $element := .albums }}
            <div class="col-md-3"> <!--Взять в цикл -->
                <a href="/album/{{$element.Id}}" class="thumbnail">
                    <div style="width:250px;height:130px">
                        <img src="{{$element.FullAddress}}" alt="" style="max-width:100%; max-height:100%">
                    </div>
                    <div class="caption">
                        <h3>{{$element.Name}}</h3>
                    </div>
                </a>
            </div>
        {{end}}
    </div>


    <div class="row">
        <hr>
        <footer>
            <div class="col-lg-8">
                <p><strong>Travel, 2014.</strong> Made by <a href="/user/111851208681609152255">Alex Saskevich</a> and <a href="/user/109828757283979582891">Danik
                    Tsyrkunov</a>.</p>
            </div>
        </footer>
    </div>
</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>